@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

/* Override Tailwind base */
@layer base {
  body {
    @apply font-sans; /* Tailwind default sans */
    font-family: 'Sora', sans-serif; /* Your custom font */
  }
}
